@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-404 {
  background-image: -webkit-linear-gradient(left,#CB6FDE,#5C2EFF,#0074F0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}