
.spline34 {
  right: calc(50% - 110rem);
}

.spline32 {
  left: -20rem;
  top: 8rem;
}

h2.header {
  line-height: 5rem;
}

@media (max-width: 600px) {
  .spline34 {
    top: 200px;
    right: calc(-120%);
    width: 800px;
    height: 400px;
  }

  .spline32 {
    left: -20rem;
    top: 12rem;
  }

  h2.header {
    line-height: 3rem;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
